body {
  background-color: #222b35;
}

.nav-wrapper {
  background-color: #000000
}

.responsive-img {
  max-width: 100%;
  height: auto;
}


 
table, h5 {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}